body {
    background-color: silver;
    }
    main {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: thistle;
    padding: 0.5em;
    text-align: center;
    }
    header, footer {
    background-color: teal;
    color: white;
    font-family: arial;
    text-align: center;
    }
    header {
    
    font-weight: bold;
    }
    section {
    padding: 1em;
    }
    #conteneur{
        display: flex;
    }
    nav{
        padding: 1em;
        background-color: wheat;
    }